@model IEnumerable<LabNet2021.Tp8.API_MVC_FINAL.Models.Characters>

@{
    ViewBag.Title = "Index";
}

<h2 class="h2">List of Characters in Harry Potter</h2>


<table id="characters" class="table table-hover">
    <thead class="">

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.species)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.house)
            </th>
            
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.house)
                </td>
                
            </tr>
        }

    </tbody>

</table>

@section scripts
{

    <script>

        $(document).ready(function () {
            $('#characters').DataTable();
        });

    </script>
    
}


