@model LabNet2021.Tp7.MVC.Models.ShipperView

@{
    ViewBag.Tittle = "Shipper Page";
}

<h1>Insert & Update</h1>

@using (Html.BeginForm("InsertUpdate", "Shipper", FormMethod.Post))
{


    <div class="form-group">
        <label>ShipperID: </label>
        @Html.TextBoxFor(s => s.ShipperID, new { @class = "form-control" })


    </div>

    <div class="form-group">
        <label>CompanyName: </label>
        @Html.TextBoxFor(s => s.CompanyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.CompanyName)


    </div>

    <div class="form-group">
        <label>Phone: </label>
        @Html.TextBoxFor(s => s.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Phone)
        <br />

        <input class="btn btn-danger" type="submit" value="Guardar" />
    </div>



}